body{
    font-family: Hero, sans-serif;
    font-size: 18px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.about-section,
.footer{
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
}

.about-section{
    flex-direction: column;
    padding: 16px 128px;
}

.header{
    display: flex;
    align-items: center;
}

.header img{
    height: 70px;
    width: auto;
}

.header ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-left: auto;
}

.introduction{
    margin: 90px auto;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.about-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.introduction img{
    width: 400px;
    height: auto;
}

.introduction button,
.join-section button{
    color: #f9faf8;
    background-color: #3882f6;
    font-weight: bold;
    padding: 6px 16px;
    margin-top: 8px;
    border-radius: 4px;
    border: none;
}

.info-section{
    flex-direction: column;
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    justify-content: center;
    display: flex;
    margin: 32px auto;
}

.info-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
    gap: 40px;
}

.picture img{
    height: 300px;
    width: 210px;
    object-fit: cover;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.picture div{
    justify-content: center;
    display: flex;
    color: #1f2937;
}

.quote-section{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 90px;
}

.quote-section em{
    font-size: 36px;
    color: #1f2937;
    margin: auto 100px;
}

.quote-section div{
    margin: auto 100px auto auto;
}

.join-section{
    background-color: #3882f6;
}

.join-section button{
    border: 2px solid #f9faf8 ;
}