body{
    font-family: Hero, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.about-section,
.footer{
    font-size: 18px;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
}

.about-section{
    flex-direction: column;
    padding: 16px 128px;
}

.header{
    display: flex;
    align-items: center;
}

.header img{
    height: 70px;
    width: auto;
}

.top{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-left: auto;
}

.introduction{
    margin-top: 90px ;
    margin-bottom: 90px;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.about-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.introduction img{
    width: 400px;
    height: auto;
}

.introduction button,
.join-section button{
    color: #f9faf8;
    background-color: #3882f6;
    font-weight: bold;
    padding: 6px 16px;
    margin-top: 8px;
    border-radius: 4px;
    border: none;
}

.join-section{
    background-color: #3882f6;
}

.join-section .bot-button{
    border: 2px solid #f9faf8 ;
}